$yellow: yellow;
$black: black;

@mixin color-bg {
    color: $black;
    background-color: $yellow;
}

*{
    margin: 0;
    padding: 0;
    outline: 2px solid gray
}

nav {
    @include color-bg;
    display: flex;
    justify-content: center;

    a {
        text-decoration: none;
      margin: 20px;
      font-size: 20px;  
    }

    a :hover {
color: orange;
    }
}

img {
    max-width: 300px;
    max-height: 300px;
}

.Index {
    margin: 30px;
    gap:15px
}

.Index Link {
    max-width: 50px;
   
}